<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome</h1>
    <a>Log out</a>
    <div id="topbar">
        <div id="mainmenu">

            <p>Type in a color for the background</p>
            <input type="text" id="typebox">
            <button id="choose">Accept</button>
            <br>
            <br>
            <div id="hidemenu" style="display: none;">
                <p>Choose text type</p>
                <select id="texttype">
                    <option value="h1">Title</option>
                    <option value="h2">Small title</option>
                    <option value="h3">Smaller title</option>
                    <option value="p">Paragraph</option>
                </select>
                <p>Type in what you want to write</p>
                <input type="text" id="linetext">
                <button id="addtext">Add text</button>
            </div>
            <br>
            <button id="togglemenu">Make a new line</button>
        </div>
    </div>
    <div id="container"></div>

    <script src="/static/script.js"></script>
</body>
</html>